/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: white;
	margin-top: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* INCEPUT TEXT CSS */
/* BARA DE NAVIGARE */

	.lista ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
		width: 100%;
	}

	.lista li {
		float: left;
	}

	li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}

	.lista li a:hover, .dropdown:hover .dropbtn {
		background-color: #111111;
		border-radius: 2px;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
  		display: none;
  		position: absolute;
  		background-color: #aaa;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}

	.dropdown-content a {
  		color: white;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
  		
	}


	.dropdown:hover .dropdown-content {
  		display: block;
	}

	.lista li img {
		margin: 1%;
		margin-right: 10px;
		margin-left: 10px;
	}

	.activ {
  		background-color: #aaa;
  		border-radius: 2px;
	}

	

	@media screen and (max-width: 550px) {
  	.lista li {
  		width: 100%;
  		float: none;
  		text-align: center;
  		display: block;
  	}

  	li a, .dropbtn {
  		display: block;
  	}

  	.dropdown-content {
  		width: 100%;
  	}
}
/* Aici se termina bara de navigare*/


	*{
	box-sizing: border-box;
}

	.continut {
		padding: 10px 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-decoration: none;
	}

	.continut a {
		text-decoration: none;
		font-size: 20px;
		text-transform: uppercase;
	} 	


	.continut a:hover {
		color: rgba(0, 0, 0, 1) !important;
	}

	.activ2  {
  		color: rgba(0, 0, 0, 1);
	} 

	.body {
		margin: 0;
		font-family: Arial;
	}


	.row { /* pentru bara de navigare de copiat de aici */
		display: flex;
		flex-wrap: wrap;
		padding: 0 5px;
		margin-top: 0px;
		z-index: -1;
	}
	.coloana {
		flex-wrap: wrap;
		max-width: 16.66%;
		padding: 0 5px;
	}

	.coloana .column img {
		margin-top: 8px;
		vertical-align: middle;
	}

	.coloana .column img:hover {
		transition: 1s;
		opacity: 0.25;
	}

	.header { /* pentru bara de navigarede copiat de aici */
		background-color: white;
		position: sticky;
		margin-top: 0px;
		z-index: 1;
	}

	@media (max-width: 900px) {

  .coloana {
    flex: 33.3%;
    max-width: 33.3%;
  }
    .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }

  
}

	@media (max-width: 650px) {
  .coloana {
    flex: 50%;
    max-width: 50%;
  }
  .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }

  
}

	@media (max-width: 550px) {
  .coloana {
    flex: 100%;
    max-width: 100%;
  }
  
  .continut a {
  	font-size: 15px;
  	padding: 0 5px;
  }
  .header a {
			font-size: 12px;
   }
   .header { /* pentru bara de navigarede copiat de aici */
		background-color: white;
		

	}
	.row { /* pentru bara de navigare de copiat de aici */
		margin-top: 0px;
	}
}



/* Aici incepe footer-ul */


	.sectiune {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: auto;
		background-color: #333333;
		text-align: center;
	}

	.sectiune .scrisst {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;

	}

	.sectiune .logo {
		padding-top: 1.5%; 
		width: 33.3%;
		color: white;
	}

	.logo a {
		color: white;
		opacity: 0.5;
		padding-left: 7.5px;
		font-size: 20px;
	}

	.logo a:hover {
		opacity: 1;
	}

	.sectiune .scrisdr {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;
	}

	.textst {
		text-align: left;
	}

	.textdr {
		text-align: right;
	}


	@media screen and (max-width: 550px) {
		.sectiune .logo {
		padding-top: 3%;
	}
		.logo a {
			font-size: 15px;
		}
		.sectiune p  {
			font-size: 8px;
			margin: 0 4px;
		}
	}
	/* Aici se termina footer-ul*/
	