/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
	margin-top: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* INCEPUT TEXT CSS */
/* BARA DE NAVIGARE */

	.lista ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
		width: 100%;
	}

	.lista li {
		float: left;
	}

	li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
		transition: 0.5s;
	}

	.lista li a:hover, .dropdown:hover .dropbtn {
		background-color: #111111;
		border-radius: 2px;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
  		display: none;
  		position: absolute;
  		background-color: #aaa;
  		min-width: 160px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1;
	}

	.dropdown-content a {
  		color: white;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
  		
	}


	.dropdown:hover .dropdown-content {
  		display: block;
	}

	.lista li img {
		margin: 1%;
		margin-right: 10px;
		margin-left: 10px;
	}

	.activ {
  		background-color: #aaa;
  		border-radius: 2px;
	}



	@media screen and (max-width: 550px) {
  	.lista li {
  		width: 100%;
  		float: none;
  		text-align: center;
  		display: block;
  	}

  	li a, .dropbtn {
  		display: block;
  	}

  	.dropdown-content {
  		width: 100%;
  	}
}
/* Aici se termina bara de navigare*/


	a{
		text-decoration: none;
		color: white;
	}

	.chenar {
		position: absolute;
		top: 30%;
		left: 25%;
		margin: 0px auto 0 auto;
		width: 600px;
		height: 100px;
		border: 2px solid white;
		overflow: hidden;
		transition: 2s;
	}


	.prezentare, .prezentare2 {
		width: auto;
		height: 100px;
		text-align: center;
		line-height: 110px;
		text-transform: uppercase;
		font-family: Engravers MT Expanded Medium;
		}

	.prezentare2{
		background-color: rgba(248, 253, 254, 0.35);
	}


	.functie  {
		font-size: 30px;
		letter-spacing: 125px;
		margin-top: -60px;
		margin-left: 1%;
		transition: 2s;
	}

	.prezentare p{
		margin-top: -30px;
		font-size: 45px;
		padding-top: 3px
		letter-spacing: 20px;
		padding-bottom: -30px;
		transition: 3s;
	}

	.prezentare2 p {
		letter-spacing: 30px;
		font-size: 45px;
		padding-left: 20px;
	}

	.prezentare:hover {
		margin-top: -130px;
		transition: 1s;
	}


	@media screen and (max-width: 550px) {
	.chenar {
		top: 60%;
		left: 5%;
		right: 5%;
		width: 300px;
		height: 50px;
	}

	.prezentare {
		padding-top: -10%;
		font-size: 45%;
		line-height: 90px;
	}

	.functie {
		font-size: 1% !important;
		margin-top: -70px !important;
		letter-spacing: 52.5px !important;
	}


	.prezentare2 {
		margin-top: 
		font-size: -10px !important;
		letter-spacing: 1px;
	}

	}







/* Aici incepe footer-ul */


	.sectiune {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: auto;

		background-color: #333333;
		text-align: center;
	}

	.sectiune .scrisst {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;

	}

	.sectiune .logo {
		padding-top: 1%; 
		width: 33.3%;
	}

	.logo img:hover {
		background-color: #111111;
	}

	.sectiune .scrisdr {
		width: 33.3%;
		font-size: 90%;
		padding: 1%;
		color: #f3f3f3;
	}

	.textst {
		text-align: left;
	}

	.textdr {
		text-align: right;
	}

	/* Aici se termina footer-ul*/